<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Anime Shop{% endblock %}</title>
<!--    <link href="{% static "css/base.css" %}" rel="stylesheet">-->
  </head>
  <body>
    <div>

        <div id="header">
            <a href="/">Anime Shop</a>
        </div>

        <div>
            Search
        </div>

        <div>
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
            </a>
            {% else %}
            Your cart is empty.
            {% endif %}
            {% endwith %}
        </div>

    </div>

    <div>
        {% for category in categories %}
        <a href="{% url "category_list" category.pk %}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <div id="subheader">
      Photo will be here
    </div>

    <div id="mycontent">
      {% block content %}{% endblock %}
    </div>

    <div id="content">
    </div>

  </body>
</html>