{% extends "shophtml/base.html" %}
{% load static %}


{% block title %}
  {{ category.name }}
{% endblock %}

{% block content %}
  {% for product in products %}
    <div>
      <div>
        <a href="{% url "product_detail" product.pk %}">{{ product.name }}</a>
      </div>
      <div>
        {{ product.price }} BYN
      </div>
    </div>

  {% endfor %}
{% endblock %}