{% extends "shophtml/base.html" %}
{% load static %}

{% block content %}

    <div>
        News will be here soon!!!

    </div>

    <div>
        {% for product in new_products %}
        <div>
        {{ product.name }}
        {{ product.price }} BYN
        </div>
        {% endfor %}
    </div>

{% endblock %}