{% extends "shophtml/base.html" %}
{% load static %}


{% block title %}
  {{ product.slug }}
{% endblock %}

{% block content %}
    <div>
      <div>
        {{ product.name }}
      </div>
      <div>
        {{ product.price }} BYN
      </div>
      <div>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
      </div>
      <div>
        {{ product.description }}
        {% for image in product.photo_set.all %}
        <img src="{{ images.image.url }}"  alt="Photo will be here">
        {% endfor %}

      </div>
    </div>

{% endblock %}