{% extends "shophtml/base.html" %}
{% block content %}

<h1 class="pay">Pay by credit card</h1>

<form action="." id="payment" method="post">
    <div class="card-number">
        <label for="card-number">Card number</label>
        <div id="card-number" class="field"></div>
    </div>
    <div class="card-number">
        <label for="cvv">CVV</label>
        <div id="cvv" class="field"></div>
    </div>
    <div class="card-number">
        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date" class="field"></div>
    </div>
    <div class="card-number">
        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
        {% csrf_token %}
        <input type="submit" value="Pay">
    </div>


</form>
<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-
fields.min.js"></script>
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');
    braintree.client.create({
        authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error(clientErr);
            return;
        }
        braintree.hostedFields.create({
            client: clientInstance,
            styles: {
                'input': { 'font-size': '50px' },
                'input.invalid': { 'color': 'red' },
                'input.valid': { 'color': 'green' }
            },
            fields: {
                number: { selector: '#card-number' },
                cvv: { selector: '#cvv' },
                expirationDate: { selector: '#expiration-date' }
            }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
                console.error(hostedFieldsErr);
                return;
            }
            submit.removeAttribute('disabled');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                        console.error(tokenizeErr);
                        return;
                    }
                    // Задаем значение поля для отправки токена на сервер.
                    document.getElementById('nonce').value = payload.nonce;
                    // Отправляем форму на сервер.
                    document.getElementById('payment').submit();
                });
            }, false);
        });
    });

</script>
{% endblock %}
